@model IEnumerable<Report_Layout.Models.Trip>
@{

    ViewBag.Title = "Summary Report";
    int count = 0;
    double miles = 0;
    double gallons = 0;
    double taxes = 0;
}
    <div class="content">
        <div id="summary">
            <br />
            <h2>Summary Report</h2>
            <table class="report">
                <tr>
                    <th>
                        @Html.Label("Number of Trips")
                    </th>
                    <th>
                        @Html.Label("Total Miles Driven")
                    </th>
                    <th>
                        @Html.Label("Total Gallons Purchased")
                    </th>
                    <th>
                        @Html.Label("Total Taxes Paid")
                    </th>
                </tr>
                @{
                    foreach (var item in Model)
                    {
                        count = count + 1;
                        miles = miles + item.MilesDriven;
                        gallons = gallons + item.GallonsPurchased;
                        taxes = taxes + item.TaxesPaid;
                    }


                }


                <tr>
                    <th>
                        @count
                    </th>
                    <th>
                        @miles
                    </th>
                    <th>
                        @gallons
                    </th>
                    <th>
                        @taxes
                    </th>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <input type="submit" onclick="Print('summary')" value="Print Report" class="btn btn-default">
        <br />
        <br />
        <br />
        <br />
        @Html.ActionLink("Back", "Index", "Report")
    </div>
<script>
    function Print(id) {
        var printContents = document.getElementById(id).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>