@model IEnumerable<Report_Layout.Models.Trip>
@{

    ViewBag.Title = "Summary Report";
    double count = 0;
    double miles = 0;
    double gallons = 0;
    double taxes = 0;
    
        foreach (var item in Model)
        {
            count = count + 1;
            miles = miles + item.MilesDriven;
            gallons = gallons + item.GallonsPurchased;
            taxes = taxes + item.TaxesPaid;
        }


   
}
    <div class="content">
        <div id="summary">
            <br />
            <h2>Summary Report</h2>
            <table class="summary">
                <tr>
                    <th>
                        @Html.Label("Number of Trips"):
                    </th>
                    <td>
                        @count
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.Label("Total Miles Driven"):
                    </th>
                    <td>
                        @String.Format("{0:n0}", miles)

                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.Label("Total Gallons Purchased"):
                    </th>
                    <td>
                        @String.Format("{0:n0}", gallons)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.Label("Total Taxes Paid"):
                    </th>
                    <td>
                        @String.Format("{0:n0}", taxes)
                    </td>
                </tr>
            </table>
            <br /><br />
            <table class="summary">
                <tr>
                    <th>
                        @Html.Label("Average Miles Driven"):
                    </th>
                    <td>
                        @String.Format("{0:n}", (miles / count))

                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.Label("Average Gallons Purchased"):
                    </th>
                    <td>
                        @String.Format("{0:n}", (gallons / count))
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.Label("Average Taxes Paid"):
                    </th>
                    <td>
                        @String.Format("{0:n}", (taxes / count))
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <input type="submit" onclick="Print('summary')" value="Print Report" class="btn btn-default">
        <br />
        <br />
        <br />
        <br />
        @Html.ActionLink("Back", "Index", "Report")
    </div>
<script>
    function Print(id) {
        var printContents = document.getElementById(id).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>